/* Basic styles */
body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* Basic styles */
.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    max-width: 80%; 
    margin: 0 auto;
}

/* Person and flag container */
.person-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
}

.person {
    width: 5rem;
    height: auto;
    margin-left: -1.2rem;
}

.flag {
    width: 1.5rem;
    height: auto;
}

/* Styles for progress_bar_container */
.progress-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 1rem;
}

/* Styles for progress_bar */
.progress-bar {
    width: 100%;
    height: 2rem; 
    background-color: white; 
    border: 0.1rem solid #ccc;
    border-radius: 1rem; 
    z-index: 1; 
    display: flex;
    align-items: center; 
}

.inner-progress-bar {
    height: 80%;
    width: 3.5%; 
    background-color: #A3D65C; 
    border-radius: 1rem; 
}

/* Styles for dots */
.dots {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute; 
    z-index: 2; 
}

/* Styles for circles */
.circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.1rem solid #ccc;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:first-child {
    background-color: white; 
    border: 0.1rem solid black; 
}

.inner-circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: white;
    border: 0.1rem solid #ccc;
}

.circle:nth-child(1) .inner-circle {
    background-color: #A3D65C;
    border: 0.1rem solid black; 
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .person {
        width: 4.5rem;
        margin-right: 0.25rem;
    }

    .circle {
        width: 2rem;
        height: 2rem;
    }

    .inner-circle {
        width: 1.2rem;
        height: 1.2rem;
    }

    .last-circle img {
        width: 1.5rem;
    }
}