/* 基础样式 */
body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* 基础样式 */
.container {
    display: flex;
    flex-direction: column; /* 垂直排列 person_container 和 progress_bar_container */
    align-items: center;
    width: 100%;
    max-width: 80%; /* 控制整体宽度 */
    margin: 0 auto; /* 居中对齐 */
}

/* 人物和旗帜容器 */
.person-container {
    display: flex;
    justify-content: space-between; /* 将 person 和 flag 分布在两端 */
    align-items: center;
    width: 100%; /* 使内容横跨整个容器 */
}

.person {
    width: 5rem; /* 根据需要调整 */
    height: auto;
    margin-left: -1.2rem;
}

.flag {
    width: 1.5rem; /* 根据需要调整 */
    height: auto;
}

/* progress_bar_container 样式 */
.progress-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 1rem;
}

/* progress_bar 样式 */
.progress-bar {
    width: 100%;
    height: 2rem; /* 高度可以根据需要调整 */
    background-color: white; /* 背景颜色 */
    border: 0.1rem solid #ccc;
    border-radius: 1rem; /* 使进度条的边缘圆滑 */
    z-index: 1; /* 设置比 dots 低的层级 */
    display: flex;
    align-items: center; /* 确保进度条和 dots 垂直居中 */
}

.inner-progress-bar{
    height: 80%;
    width: 3.5%; /* Percentage of progress, adjust this for the progress value */
    background-color: #A3D65C; /* Green color for the progress */
    border-radius: 1rem; /* Ensures rounded corners for the progress bar */
}

/* dots 样式 */
.dots {
    display: flex;
    justify-content: space-between; /* 将圆圈分布在进度条两端 */
    width: 100%;
    position: absolute; /* 相对定位，确保和 progress_bar 在同一容器中 */
    z-index: 2; /* 让 dots 位于 progress_bar 上方 */
}

/* 圆圈样式 */
.circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.1rem solid #ccc;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:first-child {
    background-color: white; /* 第一个圆圈的绿色 */
    border: 0.1rem solid black; /* 黑色外边框 */
}

.inner-circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: white;
    border: 0.1rem solid #ccc;
}

.circle:nth-child(1) .inner-circle {
    background-color: #A3D65C; /* 绿色背景 */
    border: 0.1rem solid black; /* 黑色外边框 */
}



/* 响应式调整 */
@media (max-width: 768px) {
    .person {
        width: 4.5rem;
        margin-right: 0.25rem;
    }


    
    .circle {
        width: 2rem;
        height: 2rem;
    }

    .inner-circle {
        width: 1.2rem;
        height: 1.2rem;
    }
    
    .last-circle img {
        width: 1.5rem;
    }
}
